/*reset*/
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;300;400;500;700;900&display=swap');
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    font-family: 'Encode Sans', sans-serif;
    margin: 0;
    font-weight: 300;
    background-color: #333;
    text-transform: capitalize;
}
h1,h2,h3,p,figure,ul,ol,section{
    margin: 0;
    padding: 0;
    list-style: none; 
}
a,button{
    text-decoration: none;
    padding: 0;
    border: 0;
}
img{
	display: inline-block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	vertical-align: middle;
}
*{
    box-sizing: border-box;
}
:root{
    --color-defaut:#222;
    --color-primary:#E8F3E8;
    --color-secondary: #12816b;
    --color-tertiaire:#12816b;
    --color-defaut:#975102;
    --color-header:#0A3409;

}

/* scroll bars */
*{
    /* For FF and non-webkit browsers */
    scrollbar-width: thin;
    scrollbar-color: #222 #333;
}
*::-webkit-scrollbar {
    width: .2rem;
}
*::-webkit-scrollbar-thumb {
    background-color: #222;
    outline: .1rem solid #333;
}

/*theme*/
header{
    background-color: var(--color-tertiaire);
    line-height: 6.5rem;
    border-bottom: solid 0.5rem #0e6352;
}
header h1{
    text-align: center;
    padding: 1rem;
    color: #fff;
    text-shadow: 0.3rem 0.3rem 0rem #084538;
}

header img{
    display: inline-block;
    max-width: 9rem;
    transform: translateY(-0.5rem);
    vertical-align: middle;
    padding-right: 3rem;
}


main{
    max-width: 140rem;
    margin: 0 auto;
    padding: 2rem 0 2rem 0rem;
}
main h3{
    padding: 3rem 3rem;
    text-align: center;
    font-size: 3rem;
    color: #fff;
    transition: all 1s ease-in-out;
    
}
main h3:hover{
    letter-spacing: 0.3rem;
    text-shadow: 0.3rem 0.3rem 0 #202d3a, 0.5rem 0.5rem 0 #18212b;
   
}
main section h2{
    text-align: center;
    font-size: 3rem;
    color: #fff;
}
main figure p a{
    background-color: #bdc3c7;
    padding: 0.5rem 4rem;
    color: #000;
    font-size: 2rem;
    border-radius: 1.5rem;
    border: solid .3rem #fff;
}
main figure{
    padding: 2rem;
    margin: 1rem auto;
    display: block;
    border-radius: 1rem;
    background-color: #222;
}
main figure img{
    margin: 0rem auto;
    display: block;
    padding: 1rem;
    max-width: 60rem;
    border: solid .2rem #555;
    align-items: center;
    box-shadow: 0rem 0rem 3rem rgb(0, 0, 0);
}
main figure figcaption{
    text-align: center;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    background-color: #333;
    border: solid .2rem #555;
    padding: 1rem;
    max-width: 50rem;
    margin: 0rem auto;
    margin-bottom: 2rem;
}
main ul{
    display: grid;
    border-radius: 0.5rem;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

main ul li img{
    border: .5rem solid rgb(255, 255, 255);
    border-radius: 1rem;
}

main section p{
    text-align: center;
}
/*up*/
main .up{
    position: fixed;
    max-width: 6rem;
    padding: 1rem;
    max-height: 6rem;
    bottom: 2rem;
    right: 2rem;
    background-color: #fafafa;
    border-radius: .5rem;
    box-shadow: 0 0 0.5rem rgba(47, 47, 47, 0.725);
    border: solid .2rem #111;
    transform: rotate(180deg);
}
/*Footer */
footer .contact{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 1rem;
}
footer{
    color: #fff;
    background-color: #222;
    padding: 2rem;
    border-top: solid 0.5rem rgba(17, 17, 17, 0.37);
}
footer ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer .tel img, footer .mail img{
    filter: invert(1);
}
footer ul:first-child{
    border-right: solid 0.3rem rgb(255, 255, 255);
}
footer ul:last-child{
    border-left: solid 0.3rem rgb(255, 255, 255);
}
footer ul li{
    align-items: center;
    
}
footer ul li a img{
    display: inline-block;
    max-width: 5rem;
    vertical-align: middle;
    margin-right: 1rem;
}
footer ul li a{
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

footer p{
    padding: 1rem;
    font-size: 1.6rem;
    text-align: start;
}
@media screen and (max-width: 75rem) {
    main{
        margin: 0rem auto;
    }
    main img{
        max-width: 100%;
    }
    main a{
        padding-left: 1rem;
        padding-bottom: 2rem;
    }
    main section h2{
        padding-top: 0;
        padding-left: 0;
    }
    
    main h3{
        font-size: 2.2rem;
    }
    main h3:hover{
        letter-spacing: 0;
        text-shadow: 0;
       
    }
    header h1:hover{
        letter-spacing: 0;
        text-shadow: 0;
       
    }
    main section #picture{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }
    nav ul{
        width: auto;
        margin: 0;
        margin-bottom: .1rem;
    }
    .caté{
        grid-template-columns: repeat(1, 1fr);
    }
    footer .contact{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    footer ul li a img{
        display: inline-block;
        vertical-align: middle;
        max-width: 3.5rem;
    }
    footer ul{
        padding: 1rem;
    }
    footer .ico{
        margin: 1rem;
    }
    footer ul:first-child{
        
        border-right: none;
    }
    footer ul:last-child{
        border-left: none;
    }
    footer ul li a{
        display: inline-block;
        vertical-align: middle;
    }
    main .up{
        position: fixed;
        max-width: 4rem;
        padding: 1rem;
        max-height: 4rem;
        bottom: 2rem;
        right: 2rem;
        background-color: #fafafa;
        border-radius: .5rem;
        box-shadow: 0 0 0.5rem rgba(47, 47, 47, 0.725);
        border: solid .2rem #111;
        transform: rotate(180deg);
    }
    /* menu of */
    nav{
        position: relative;
        z-index: -1;
        height: 0;
        margin-bottom: 1rem;
        transition: all 500ms ease-in-out;
        
    }
    /* menu on */
    .open-menu{
        z-index: 1;
        height: 22.5rem;
    }
    nav ul li{
        display: block;
        width: auto;
        text-align: center;
    }
    nav ul li a{
        padding-left: 1rem;
    }
    header h1 .material-icons{
        display: inline-block;
        padding-right: 2rem;
    }
}