/*reset*/
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;300;400;500;700;900&display=swap');
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    font-family: 'Encode Sans', sans-serif;
    margin: 0;
    font-weight: 300;
    background-color: #333;
    text-transform: capitalize;
}
h1,h2,p,figure,ul,section{
    margin: 0;
    padding: 0;
    list-style: none; 
}
a{
    text-decoration: none;
    padding: 0;
    border: 0;
}
*{
    box-sizing: border-box;
}
:root{
    --color-defaut:#222;
    --color-primary:#E8F3E8;
    --color-secondary: #e74c3c;
    --color-tertiaire:#c0392b;
    --color-defaut:#975102;
    --color-header:#0A3409;

}
img{
	display: inline-block;
	width: 100%;
	object-fit: cover;
	vertical-align: middle;
}

/* scroll bars */
*{
    /* For FF and non-webkit browsers */
    scrollbar-width: thin;
    scrollbar-color: #222 #333;
}
*::-webkit-scrollbar {
    width: .2rem;
}
*::-webkit-scrollbar-thumb {
    background-color: #222;
    outline: .1rem solid #333;
}

/*theme*/
header{
    background-color: #e74c3c;

    border-bottom: solid 0.5rem #c0392b;
}
header h1{
    text-align: center;
    padding: 2rem;
    color: #fff;
    font-weight: bold;
    font-size: 5rem;
    text-shadow: 0.25rem 0.25rem 0 #90271b,.5rem .5rem 0 #a5372a;
}
header img{
    max-width: 10rem;
    filter: invert(1);
    vertical-align: middle;
    padding-right: 3rem;
    transform: translateY(-0.4rem), translateX(0.4rem);
}
/*navigation*/

main{
    max-width: 100rem;
    margin: 0 auto;
    padding: 2rem 0 2rem 0rem;
}
main h2{
    font-size: 2.5rem;
    color: #fff;
}
main h2 span{
    font-size: 1.6rem;
    color: #fff;
}
main figure figcaption h3{
    font-size: 1.5rem;
    color: #fff;
}
main figure a{
    display: flex;
    align-items: center;
}
main time{
    color: #e74c3c;
    padding-top: 2rem;
    font-size: 1.6rem;
}
main figure{
    padding: 2rem;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 0.5rem;
    background-color: #222;
    border: solid .2rem #c0392b;
    box-shadow:  8px 8px 31px #0e0e0e,
             -8px -8px 31px #363636;
}
main figure figcaption{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
main figure figcaption h2{
    text-align: left;
    color: #fff;
}
main figure figcaption ul{
    padding: 2rem;
    
}
main figure figcaption ul li{
    color: #fff;
    padding: 0.5rem 0rem;
}
main figure img{
    margin: 2rem auto;
    display: flex;
    padding: 3rem;
    justify-content: space-between;
    max-width: 30rem;
    border-radius: 1.5rem;
    align-items: center;
}
/*up*/
main .up{
    position: fixed;
    max-width: 6rem;
    padding: 1rem;
    max-height: 6rem;
    bottom: 2rem;
    right: 2rem;
    background-color: #fafafa;
    border-radius: .5rem;
    box-shadow: 0 0 0.5rem rgba(47, 47, 47, 0.725);
    border: solid .2rem #111;
    transform: rotate(180deg);
}

/*Footer */
footer .contact{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 1rem;
}
footer{
    color: #fff;
    background-color: #222;
    padding: 2rem;
    border-top: solid 0.5rem rgba(17, 17, 17, 0.37);
}
footer ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer .tel img, footer .mail img{
    filter: invert(1);
}
footer ul:first-child{
    border-right: solid 0.3rem rgb(255, 255, 255);
}
footer ul:last-child{
    border-left: solid 0.3rem rgb(255, 255, 255);
}
footer ul li{
    align-items: center;
    
}
footer ul li a img{
    display: inline-block;
    max-width: 5rem;
    vertical-align: middle;
    margin-right: 1rem;
}
footer ul li a{
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

footer p{
    padding: 1rem;
    font-size: 1.6rem;
    text-align: start;
}
@media screen and (max-width: 65rem) {
    header h1{
        font-size: 3.5rem;
    }
    main{
        margin: 1rem auto;
        padding: 1rem;
    }
    main figure figcaption h2{
        font-size: 3rem;
        text-align: center;
    }
    main figure{
        grid-template-columns: repeat(1, 1fr);
    }
    footer .contact{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    footer ul li a img{
        display: inline-block;
        vertical-align: middle;
        max-width: 3.5rem;
    }
    footer ul{
        padding: 1rem;
    }
    footer .ico{
        margin: 1rem;
    }
    footer ul:first-child{
        
        border-right: none;
    }
    footer ul:last-child{
        border-left: none;
    }
    footer ul li a{
        display: inline-block;
        vertical-align: middle;
    }
    main .up{
        position: fixed;
        max-width: 4rem;
        padding: 1rem;
        max-height: 4rem;
        bottom: 2rem;
        right: 2rem;
        background-color: #fafafa;
        border-radius: .5rem;
        box-shadow: 0 0 0.5rem rgba(47, 47, 47, 0.725);
        border: solid .2rem #111;
        transform: rotate(180deg);
    }
    /* menu of */
}