/*reset*/
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;300;400;500;700;900&display=swap');
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    font-family: 'Encode Sans', sans-serif;
    margin: 0;
    font-weight: 300;
    background-color: #333;
    text-transform: capitalize;
}
h1,h2,p,figure,ul,section{
    margin: 0;
    padding: 0;
    list-style: none; 
}
a{
    text-decoration: none;
    padding: 0;
    border: 0;
}
*{
    box-sizing: border-box;
}
:root{
    --color-defaut:#222;
    --color-primary:#E8F3E8;
    --color-secondary: #e74c3c;
    --color-tertiaire:#c0392b;
    --color-defaut:#975102;
    --color-header:#0A3409;

}
img{
	display: inline-block;
	width: 100%;
	object-fit: cover;
	vertical-align: middle;
}

/* scroll bars */
*{
    /* For FF and non-webkit browsers */
    scrollbar-width: thin;
    scrollbar-color: #222 #333;
}
*::-webkit-scrollbar {
    width: .2rem;
}
*::-webkit-scrollbar-thumb {
    background-color: #222;
    outline: .1rem solid #333;
}

/*theme*/
header{
    background-color: #e74c3c;

    border-bottom: solid 0.5rem #c0392b;
}
header h1{
    text-align: center;
    padding: 2rem;
    color: #fff;
    font-weight: bold;
    font-size: 5rem;
    text-shadow: 0.25rem 0.25rem 0 #90271b,.5rem .5rem 0 #a5372a;
}
header img{
    max-width: 10rem;
    filter: invert(1);
    vertical-align: middle;
    padding-right: 3rem;
    transform: translateY(-0.4rem), translateX(0.4rem);
}
/*navigation*/

main{
    max-width: 100rem;
    margin: 0 auto;
    padding: 2rem 0 2rem 0rem;
}
main h2{
    font-size: 6rem;
    color: #fff;
}
main h2 span{
    font-size: 1.6rem;
    color: #fff;
}
main figure h2{
    text-align: center;
    font-size: 3rem;
    color: #fff;
}
main a{
    color: #fff;
    font-weight: 700;
    padding-bottom: 2rem;
    font-size: 2rem;
}
main a .f{
    display: inline-block;
    transform: rotate(180deg) scale(1.4);
    padding-left: 1rem;
    vertical-align: middle;
    font-size: 2rem;
    color: #fff;
}
main figure{
    padding: 2rem;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 0.5rem;
    background-color: #222;
    border: solid .2rem #c0392b;
    box-shadow: 0.5rem 0.5rem 0.2rem rgba(49, 49, 49, 0.726);
}
main figure figcaption{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
main figure figcaption h2{
    padding: 1rem;
    text-align: left;
    color: #fff;
}
main figure figcaption ul{
    padding: 2rem;
    
}
main figure figcaption ul li{
    color: #fff;
    line-height: 1.5em;
    padding: 1rem 0rem;
}
main figure img{
    margin: 2rem auto;
    display: flex;
    padding: 3rem;
    justify-content: space-between;
    max-width: 30rem;
    border-radius: 1.5rem;
    align-items: center;
}
/*up*/
main .up{
    position: fixed;
    max-width: 4rem;
    padding: 1rem;
    bottom: 2rem;
    right: 2rem;
    background-color: #fafafa;
    border-radius: .5rem;
    box-shadow: 0 0 0.5rem rgba(47, 47, 47, 0.725);
    border: solid .2rem #111;
    transform: rotate(180deg);
}

/*Footer */
footer ul{
    padding: 1rem;
}
footer ul li{
    margin: 0 auto;
}
footer  .ico{
    display: flex;
}
footer{
    color: #fff;
    background-color: #222;
    padding: 2rem;
    border-top: solid 0.5rem rgba(17, 17, 17, 0.37);
}
footer h2{
    text-align: center;
}
footer p{
    padding: 1rem;
    font-size: 1.6rem;
    text-align: start;
}
footer section{
    margin: 0 auto;
}
footer .link{
    margin: auto 1rem;
    max-width: 6rem;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
footer .contact{
    max-width: 30rem;
    margin: 0 auto;
}
footer .contact li a{
    color: #fff;
}
footer .contact img{
    max-width: 4rem;
    margin: auto 1rem;
    filter: invert(100%);
    transform: translateY(1rem);
}
footer .linkg{
    margin: auto 1rem;
    filter: invert(100%);
    max-width: 6rem;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
footer .orga{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 65rem) {
    header h1{
        font-size: 3.5rem;
    }
    main{
        margin: 1rem auto;
        padding: 1rem;
    }
    main figure figcaption h2{
        font-size: 3rem;
        text-align: center;
    }
    main figure{
        grid-template-columns: repeat(1, 1fr);
    }
    footer .link, footer .linkg{
        margin: 1rem auto;
        max-width: 5rem;
    }
    footer{
        font-size: 1.2rem;
    }
    /* menu of */
}