/*reset*/
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;300;400;500;700;900&display=swap');
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem 'Encode Sans', sans-serif;
    margin: 0;
    background-color: #333;
    text-transform: capitalize;
}
h1,h2,h3,p,figure,ul,ol,section{
    margin: 0;
    padding: 0;
    list-style: none; 
}
a,button{
    text-decoration: none;
    padding: 0;
    border: 0;
}
img{
	display: inline-block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	vertical-align: middle;
}
*{
    box-sizing: border-box;
}
:root{
    --color-defaut:#222;
    --color-primary:#E8F3E8;
    --color-secondary: #274664;
    --color-tertiaire:#2c3e50;
    --color-defaut:#975102;
    --color-header:#0A3409;

}
/* scroll bars */
*{
    /* For FF and non-webkit browsers */
    scrollbar-width: thin;
    scrollbar-color: #222 #333;
}
*::-webkit-scrollbar {
    width: .2rem;
}
*::-webkit-scrollbar-thumb {
    background-color: #222;
    outline: .1rem solid #333;
}

/*theme*/
header{
    line-height: 5.5rem;
    text-align: center;
    background: url(../asset/Background.jpeg) no-repeat scroll center center / cover;;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
    /*position: fixed;*/
    width: 100%;
    height: 100vh;
    top: 0;
}
header h1{
    color: rgb(0, 0, 0);
    display: block;
    padding-top: 25rem;
    text-align: center;
    max-width: 80rem;
    font-size: 4rem;
    margin: 0 auto;
    font-weight: 900;
}
header h2{
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0 auto;
    max-width: 80rem;
    font-weight: 900;
    padding-top: 1rem;
    font-size: 3rem;
}
.burger{
    position: fixed;
    top: 2rem;
    left: 2rem;
    cursor: pointer;
    z-index: 5;
    font-weight: 900;
    color: #fafafa;
    font-size: 5rem;
}
/*navigation*/
header nav{
    display: none;
    position: fixed;
}
.open-menu{
    position: fixed;
    display: block;
    height: 100vh;
    z-index: 2;
    max-width: 100%;
    top: 0;
    left: 0;
    transition: all .6s ease-in-out;
    visibility: visible;
    background-color: #1e201fe1;

}
.open-menu nav{
    position: static;
    display: block;
    padding: 1rem;
    margin-top: 7rem;
    width: 40rem;
}
.open-menu nav ul{
    width: 100%;
    
}
.open-menu ul li{
    border-radius: 0.6rem;
    margin: 1rem auto;
    border: solid .1rem rgb(255, 255, 255);
}
.open-menu ul li a{
    display: block;
    background-color: #222;
    border-radius: 0.5rem;
    padding: 1rem 3rem;
    color: #fff;
    transition: all .5s ease-in-out;
}


/*main*/

main{
    z-index: 5;
    max-width: 125rem;
    margin: 0 auto;
    padding: 0rem 0 2rem 0rem;
}
main section{
    max-width: 120rem;
    background: #222;
    box-shadow:  8px 8px 21px #0e0e0e,
             -8px -8px 21px #363636;
    margin: 3rem auto;
    padding: 1rem;
    border-radius: 0.5rem;
}
main section h3{
    font-size: 3rem;
    padding: 1rem 4rem;
    color: #fff;
    text-shadow: none;
}
    
main section figure figcaption{ 
    text-align: center;
    display: none;
}
main section .History{
    font-size: 4.5rem;
    font-weight: 800;
    padding: 2rem 0rem 0rem 2rem;
    color: #fff;
}
main section p{
    font-size: 1.6rem;
    padding: 2rem;
    color: #fff;
}
main section ul li{
    padding: 2rem;
    color: #fff;
}

/*Expérience*/
main .experience figure, main .formation figure{
    display: grid;
    padding: 3rem 5rem;
    width: auto;
    grid-template-columns: repeat(2,1fr);
}
main .experience h2{
    text-shadow: 0.25rem 0.25rem 0 #c0392b,.5rem .5rem 0 #e74c3c;
}
main .experience figure ul li h2{
    text-shadow: none;
}
main .experience figure ul li a, main .formation figure ul li a{
    color: #fff; 
}
main .experience figure ul{
    border-radius: 0.5rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid .2rem #c0392b;
    background-color: rgb(54, 54, 54);
    box-shadow: 0.5rem 0.5rem 0.2rem rgba(49, 49, 49, 0.726);
    transition: all 0.5s ease-in-out;
}
main .formation figure ul{
    border-radius: 0.5rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid .2rem #3498db;
    background-color: rgb(54, 54, 54);
    box-shadow: 0.5rem 0.5rem 0.2rem rgba(49, 49, 49, 0.726);
    transition: all 0.5s ease-in-out;
}
main .travaux figure{
    display: grid;
    padding: 3rem 5rem;
    width: auto;
    grid-template-columns: repeat(2,1fr);
}
main .travaux figure ul{
    border-radius: 0.5rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(54, 54, 54);
    box-shadow: 0.5rem 0.5rem 0.2rem rgba(49, 49, 49, 0.726);
    transition: all 0.5s ease-in-out;
}
main .experience ul li h2,main .loisir ul li h2,main .travaux ul li h2{
    font-size: 2.3rem;
    border-bottom: none;
    border-radius: 0.5rem;
    text-align: center;
}
main .travaux ul{
    background-color: rgb(54, 54, 54);
    font-size: 2.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: none;
    border-radius: 0.5rem;
    text-align: center;
    border: solid .2rem #27ae60;
}
main .loisir ul{
    background-color: rgb(54, 54, 54);
    font-size: 2.3rem;
    box-shadow: 0.5rem 0.5rem 0.2rem rgba(49, 49, 49, 0.726);
    margin: 2rem;
    border-bottom: none;
    border-radius: 0.5rem;
    text-align: center;
    border: solid .2rem #12846dc7;
}

main .experience ul li, main .loisir ul li, main .formation ul li, main .travaux ul li, main .veille ul li{
    text-align: center;
}
main .experience ul li img, main .formation ul li img{
    display: block;
    margin: 0rem auto;
    padding: 0.5rem;
    max-height: 10rem;
    max-width: 10rem;
    object-fit: cover;
}
main .loisir ul li h2, main .formation ul li h2, main .travaux ul li h2,main .veille ul li h2{
    text-shadow: none;
}
main .compet h2{
    text-shadow: 0.25rem 0.25rem 0 #d35400,.5rem .5rem 0 #e67e22;
}
main .loisir h2{
    text-shadow: 0.25rem 0.25rem 0 #12816b,.5rem .5rem 0 #15967c;
}
main .formation h2{
    text-shadow: 0.25rem 0.25rem 0 #2980b9,.5rem .5rem 0 #3498db;
}
main .travaux h2{
    text-shadow: 0.25rem 0.25rem 0 #27ae60,.5rem .5rem 0 #2ecc71;
}
main .veille h2{
    text-shadow: 0.25rem 0.25rem 0 #8e44ad,.5rem .5rem 0 #9b59b6;
}
main .loisir ul li img,main .travaux ul li img{
    max-height: 10rem;
    max-width: 10rem;
    object-fit: cover;
}

/*loisir*/
main .loisir figure{
    display: grid;
    padding: 3rem 5rem;
    width: auto;
    grid-template-columns: repeat(2,1fr);
}

/* veille */
main .veille figure{
    display: block;
    padding: 3rem 5rem;
    width: auto;
    margin: 0 auto;
}
main .veille ul li img{
    max-height: 15rem;
    max-width: 15rem;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    filter: invert(1);
}
main .veille{
    display: block;
}
main .veille ul{
    background-color: rgb(54, 54, 54);
    font-size: 2.3rem;
    box-shadow: 0.5rem 0.5rem 0.2rem rgba(49, 49, 49, 0.726);
    margin: 2rem;
    border-bottom: none;
    border-radius: 0.5rem;
    text-align: center;
    border: solid .2rem #8e44ad;
}

/*stat*/
main section .container li{
    margin: 0.5rem;
    padding: 1rem;
    display: inline-block;
    vertical-align: middle;
    color: #000;
    text-transform: capitalize;
    font-weight: 500;
}
.container{
    display: flex; 
    padding: 3rem 5rem;
    flex-direction: column;
    justify-content: space-between;
}

.container li img{
    max-width: 2.5rem;
    max-height: 2.5rem;
    display: inline-block;
    vertical-align: middle;
}

.item { max-width: 50%; background-color: #e7422f ;border-radius: 1rem; box-shadow: 0.3rem 0.3rem 0rem #c0392b;}
.item-1 { max-width: 50%; background-color: #3498db; border-radius: 1rem; box-shadow: 0.3rem 0.3rem 0rem #2980b9;}
.item-2 { max-width: 50%; background-color: #f1c40f;border-radius: 1rem; box-shadow: 0.3rem 0.3rem 0rem #dbb20d;}
.item-3 { max-width: 25%; background-color: #FB8604;border-radius: 1rem; box-shadow: 0.3rem 0.3rem 0rem #db7500;}
.item-4 { max-width: 50%; background-color: #2980b9;border-radius: 1rem; box-shadow: 0.3rem 0.3rem 0rem #236ea0;}
.item-5 { max-width: 75%; background-color: #3498db;border-radius: 1rem; box-shadow: 0.3rem 0.3rem 0rem #2980b9;}
.item-6 { max-width: 75%; background-color: #FB8604;border-radius: 1rem; box-shadow: 0.3rem 0.3rem 0rem #db7500;}
.item-7 { max-width: 25%; background-color: #2980b9;border-radius: 1rem; box-shadow: 0.3rem 0.3rem 0rem #236ea0;}
.item-8 { max-width: 50%; background-color: #FB8604;border-radius: 1rem; box-shadow: 0.3rem 0.3rem 0rem #db7500;}

/*up*/
main .up{
    position: fixed;
    max-width: 6rem;
    padding: 1rem;
    max-height: 6rem;
    bottom: 2rem;
    right: 2rem;
    background-color: #fafafa;
    border-radius: .5rem;
    box-shadow: 0 0 0.5rem rgba(47, 47, 47, 0.725);
    border: solid .2rem #111;
    transform: rotate(180deg);
}

/*Footer */
footer .contact{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 1rem;
}
footer{
    color: #fff;
    background-color: #222;
    padding: 2rem;
    border-top: solid 0.5rem rgba(17, 17, 17, 0.37);
}
footer ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer .tel img, footer .mail img{
    filter: invert(1);
}
footer ul:first-child{
    border-right: solid 0.3rem rgb(255, 255, 255);
}
footer ul:last-child{
    border-left: solid 0.3rem rgb(255, 255, 255);
}
footer ul li{
    align-items: center;
    
}
footer ul li a img{
    display: inline-block;
    max-width: 5rem;
    vertical-align: middle;
    margin-right: 1rem;
}
footer ul li a{
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

footer p{
    padding: 1rem;
    font-size: 1.6rem;
    text-align: start;
}




@media screen and (max-width: 60rem) {
    main section #picture{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }
    header .nav{
        flex-direction: column;
    }
    header .nav ul li{
        margin: 1rem auto;
        width: 100%;
    }
    header .nav{
        font-size: 1.5rem;
        width: 100%;
    }
    header .burger{
        padding-top: 1.2rem;
        padding-left: 1rem;
        display: block;
    }
    header{
        padding: 1rem;
        text-align: center;
        background: url(../asset/BackgroundM.jpeg) no-repeat scroll center center / cover;
        /*position: fixed;*/
        width: 100%;
        height: 100vh;
        margin-bottom: 1rem;
        top: 0;
    }
    .open-menu{
        position: fixed;
        height: 100vh;
        z-index: 2;
        width: 100%;
        top: 0;
        transition: all .3s;
        right: 0;
        visibility: visible;
        background-color: #1e201f;
    }
    .open-menu nav{
        position: static;
        display: block;
        padding: 1rem;
        margin-top: 10rem;
        width: 100%;
    }
    .open-menu ul li a{
        padding: 0;
    }
    header h1{
        font-size: 2.5rem;
    }
    header h2{
        font-size: 2rem;
    }
    main{
        padding-top: 1rem;
    }
    .container{
        padding: 1rem;
    }
    h3, h2{
        text-align: center;
    }
    .container li{
        font-size: 1.4rem;
    }
    main .experience figure, main .loisir figure, main .formation figure, main .travaux figure, main .veille figure{
        display: grid;
        padding: 0;
        grid-template-columns: repeat(1,1fr);
    }
    main .experience figure ul:hover, main .loisir figure ul:hover{
        transform: none;
        box-shadow: none;
    }
    .item-7 { max-width: 45%; background-color: #2980b9;border-radius: 1rem; box-shadow: 0.3rem 0.3rem 0rem #236ea0;}
    
    footer .contact{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    footer ul li a img{
        display: inline-block;
        vertical-align: middle;
        max-width: 3.5rem;
    }
    footer ul{
        padding: 1rem;
    }
    footer .ico{
        margin: 1rem;
    }
    footer ul:first-child{
        
        border-right: none;
    }
    footer ul:last-child{
        border-left: none;
    }
    footer ul li a{
        display: inline-block;
        vertical-align: middle;
    }
    header h1 .material-icons{
        display: inline-block;
        padding-right: 2rem;
    }
    main section .History{
        padding: 0;
    }
   
    main .up{
        position: fixed;
        max-width: 4rem;
        padding: 1rem;
        max-height: 4rem;
        bottom: 2rem;
        right: 2rem;
        background-color: #fafafa;
        border-radius: .5rem;
        box-shadow: 0 0 0.5rem rgba(47, 47, 47, 0.725);
        border: solid .2rem #111;
        transform: rotate(180deg);
    }

    @media screen and (orientation: landscape){
        .aside a img{
            max-width: 5%;
        }
        
    }
}