/*reset*/
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;300;400;500;700;900&display=swap');
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem 'Encode Sans', sans-serif;
    margin: 0;
    background-color: #333;
    text-transform: capitalize;
}
h1,h2,h3,p,figure,ul,ol,section{
    margin: 0;
    padding: 0;
    list-style: none; 
}
a,button{
    text-decoration: none;
    padding: 0;
    border: 0;
}
*{
    box-sizing: border-box;
}
:root{
    --color-defaut:#222;
    --color-primary:#E8F3E8;
    --color-secondary: #274664;
    --color-tertiaire:#2c3e50;
    --color-defaut:#975102;
    --color-header:#0A3409;

}

/* scroll bars */
*{
    /* For FF and non-webkit browsers */
    scrollbar-width: thin;
    scrollbar-color: #222 #333;
}
*::-webkit-scrollbar {
    width: .2rem;
}
*::-webkit-scrollbar-thumb {
    background-color: #222;
    outline: .1rem solid #333;
}

/*theme*/
header{
    margin: 0 auto;
    line-height: 5rem;
    border-bottom: solid .5rem #141414;
    background: url(https://wallpaperaccess.com/full/1189379.png)no-repeat scroll center center / cover;
    height: 100vh;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.burger{
    position: absolute;
    top: 1rem;
    right: 2rem;
    width: 3rem;
    cursor: pointer;
    z-index: 5;
}
header{
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}
header h1{
    color: #fff;
    text-shadow: 0.3rem 0.3rem 0 #333, 0.5rem 0.5rem 0 #444;
    text-align: center;
    letter-spacing: .5rem;
    padding-top: 24rem;
    font-size: 5rem;
    position: sticky;
}
header h2{
    color: #fff;
    text-align: center;
    padding-top: 2rem;
    font-size: 3rem;
    position: sticky;
}

header .burger{
    display: none;
}
/*navigation*/
nav{
    display: flex;
    max-width: 90rem;
}
nav ul{
    padding-top: 1rem;
    max-width: 110rem;
    margin: 0 auto 1.5rem;
    display: flex;
    
    font-size: 0;
    justify-content: space-between;
}
nav ul li{
    line-height: 3.5rem;
    font-size: 1.6rem;
    border: solid .2rem rgba(202, 202, 202, 0.726);
    background-color: rgb(54, 54, 54);
    margin: 1rem;
    border-radius: 0.6rem;
    text-align: center;
}
nav ul li a{
    display: block;
    background-color: #222;
    border-radius: 0.5rem;
    padding: 1rem 3rem;
    width: 100%;
    color: #fff;
    transition: all .2s ease-in-out;
    
}
nav ul li a:hover{
    transform: scale(1.1);
}
.History{
    transition: all 400ms ease-in-out ;
}
.History:target{
    font-size: 5rem;
}
.aside{
    position: sticky;
    display: block;
}
.aside a img{
    max-width: 5rem;
    margin: 3rem auto;
    position: sticky;
    display: block;
    cursor: pointer;
    border-radius: 10rem;
    background-color: #fff;
    border: solid 1rem #fff;
    transition: 1s ease-in-out;
}

main{
    z-index: 5;
    max-width: 140rem;
    margin: 0 auto;
    padding: 0rem 0 2rem 0rem;
}
main section{
    max-width: 140rem;
    background-color: #222;
    box-shadow: 0.2rem 0.2rem 2rem #111;
    margin: 3rem auto;
    border-radius: 0.5rem;
}
main section h3{
    font-size: 1.6rem;
    padding: 1rem;
    color: #fff;
}
main section figure figcaption{ 
    text-align: center;
    display: none;
}
main section .History{
    font-size: 4.5rem;
    font-weight: 800;
    padding: 2rem 0rem 0rem 2rem;
    color: #fff;
}
main section.experience figure ul li a{
    display: block;
    font-weight: 700;
    padding: 1rem;
    color: #fff;
    margin: 0rem auto;
}
main section p{
    font-size: 1.6rem;
    padding: 2rem;
    color: #fff;
}

main section ul li{
    padding: 2rem;
    color: #fff;
}

/*Expérience*/
main .experience figure, main .formation figure{
    display: grid;
    padding: 1.5rem;
    width: auto;
    grid-template-columns: repeat(4,1fr);
}
main .experience h2, main .experience figure ul li h2{
    text-shadow: 0.25rem 0.25rem 0 #c0392b,.5rem .5rem 0 #e74c3c;
}
main .experience figure ul li a, main .formation figure ul li a{
    color: #fff; 
}
main .experience figure ul, main .loisir figure ul, main .formation figure ul{
    border-radius: 0.5rem;
    margin: 2rem;
    
    background-color: rgb(54, 54, 54);
    box-shadow: 0.5rem 0.5rem 0.2rem rgba(49, 49, 49, 0.726);
    transition: all 0.5s ease-in-out;
}
main .travaux figure{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
main .travaux figure img{
    margin: 1rem auto;
    max-width: 30rem;
}
main .travaux figure ul{
    border-radius: 0.5rem;
    margin: 2rem auto;
    max-width: 50rem;
    background-color: rgb(54, 54, 54);
    box-shadow: 0.5rem 0.5rem 0.2rem rgba(49, 49, 49, 0.726);
    transition: all 0.5s ease-in-out;
}
main .experience figure ul:hover, main .travaux figure ul:hover{
    transform: translateY(-1rem) scale(1.1);
    box-shadow: 0.5rem 0.5rem 0.2rem rgba(73, 73, 73, 0.726);
}
main .experience ul li h2, main .loisir ul li h2, main .travaux ul li h2{
    background-color: rgb(54, 54, 54);
    font-size: 2.3rem;
    text-shadow: 0.25rem 0.25rem 0 #234449,.5rem .5rem 0 #2b5057;
    border-bottom: none;
    border-radius: 0.5rem;
    text-align: center;
}
main .experience ul li, main .loisir ul li, main .formation ul li, main .travaux ul li{
    text-align: center;
}
main .experience ul li img, main .formation ul li img{
    display: block;
    margin: 0rem auto;
    max-width: 30%;
}
main .compet h2{
    text-shadow: 0.25rem 0.25rem 0 #f39c12,.5rem .5rem 0 #f1c40f;
}
main .loisir h2, main .loisir figure ul li h2{
    text-shadow: 0.25rem 0.25rem 0 #12816b,.5rem .5rem 0 #15967c;
}
main .formation h2, main .formation figure ul li h2{
    text-shadow: 0.25rem 0.25rem 0 #2980b9,.5rem .5rem 0 #3498db;
}
main .travaux h2, main .travaux figure ul li h2{
    text-shadow: 0.25rem 0.25rem 0 #27ae60,.5rem .5rem 0 #2ecc71;
}
main .loisir ul li img{
    width: 20%;
}
main .travaux ul li img{
    display: block;
    margin: 1rem auto;
    width: 20%;
}
/*loisir*/
main .loisir figure{
    display: grid;
    padding: 2rem;
    width: auto;
    grid-template-columns: repeat(2,1fr);
}
main .loisir figure ul:hover, main .formation figure ul:hover{
    transform: translateY(-1rem) scale(1.1);
    box-shadow: 0.5rem 0.5rem 0.2rem rgba(73, 73, 73, 0.726);
}

/*stat*/
main section .container li{
    margin: 0.6rem;
    padding: 0.7rem;
    color: #000;
}
main section h3{
    font-size: 3rem;
    padding: 1rem 4rem;
    text-shadow: 0.25rem 0.25rem 0 #F79F1F,.5rem .5rem 0 #FFC312;
}
.container{
    display: flex; 
    padding: 1rem 5rem;
    flex-direction: column;
}

.container li img{
    max-width: 2.2rem;
    transform: translateY(.4rem);
    justify-content: center;
}
.container li{
    text-transform: capitalize;
    font-weight: 500;
}
.item { max-width: 90%; background-color: #e7422f ;border-radius: 1rem; box-shadow: 0.3rem 0.3rem 0rem #c0392b;}
.item-1 { max-width: 80%; background-color: #3498db; border-radius: 1rem; box-shadow: 0.3rem 0.3rem 0rem #2980b9;}
.item-2 { max-width: 50%; background-color: #f1c40f;border-radius: 1rem; box-shadow: 0.3rem 0.3rem 0rem #dbb20d;}
.item-3 { max-width: 40%; background-color: #FB8604;border-radius: 1rem; box-shadow: 0.3rem 0.3rem 0rem #db7500;}
.item-4 { max-width: 40%; background-color: #2980b9;border-radius: 1rem; box-shadow: 0.3rem 0.3rem 0rem #236ea0;}
.item-5 { max-width: 70%; background-color: #3498db;border-radius: 1rem; box-shadow: 0.3rem 0.3rem 0rem #2980b9;}
.item-6 { max-width: 50%; background-color: #FB8604;border-radius: 1rem; box-shadow: 0.3rem 0.3rem 0rem #db7500;}
.item-7 { max-width: 35%; background-color: #2980b9;border-radius: 1rem; box-shadow: 0.3rem 0.3rem 0rem #236ea0;}
.item-8 { max-width: 45%; background-color: #FB8604;border-radius: 1rem; box-shadow: 0.3rem 0.3rem 0rem #db7500;}

/*up*/
main .up{
    display: block;
    max-width: 5rem;
    padding: 0.5rem;
    margin: 0 auto;
    border: solid .4rem #1c1c1c;
    border-radius: 0rem 0rem 2rem 2rem;
    transform: rotate(180deg) translateY(-2.5rem);
    background-color: #c2c2c2;
    transition: all 0.5s ease-in-out;
}

/*Footer */
footer ul{
    padding: 1rem;
}
footer ul li{
    margin: 0 auto;
}
footer  .ico{
    display: flex;
}
footer{
    color: #fff;
    background-color: #222;
    padding: 2rem;
    border-top: solid 0.5rem rgba(17, 17, 17, 0.37);
}
footer h2{
    text-align: center;
}
footer p{
    padding: 1rem;
    font-size: 1.6rem;
    text-align: start;
}
footer section{
    margin: 0 auto;
}
footer .link{
    margin: auto 1rem;
    max-width: 6rem;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
footer .contact{
    max-width: 30rem;
    margin: 0 auto;
}
footer .contact li a{
    color: #fff;
}
footer .contact img{
    max-width: 4rem;
    margin: auto 1rem;
    filter: invert(100%);
    transform: translateY(1rem);
}
footer .linkg{
    margin: auto 1rem;
    filter: invert(100%);
    max-width: 6rem;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
footer .orga{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}



@media screen and (max-width: 60rem) {
    main section #picture{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }
    header .nav{
        flex-direction: column;
    }
    header .nav ul li{
        margin: 1rem auto;
        width: 100%;
    }
    header .nav{
        font-size: 1.5rem;
        width: 100%;
    }
    header h1{
        font-size: 1.7em;
    }
    header .burger{
        padding-top: 1.2rem;
        padding-left: 1rem;
        display: block;
    }
    .aside a img{
        max-width: 10%;
        margin: 2rem auto;
    }
    header{
        margin-bottom: 1rem;
    }
    main{
        padding-top: 1rem;
    }
    .container{
        padding: 1rem;
    }
    h3, h2{
        text-align: center;
    }
    .container li{
        font-size: 1.4rem;
    }
    main .experience figure, main .loisir figure, main .formation figure, main .travaux figure{
        display: grid;
        padding: 0;
        grid-template-columns: repeat(1,1fr);
    }
    main .experience figure ul:hover, main .loisir figure ul:hover{
        transform: none;
        box-shadow: none;
    }
    .item-7 { max-width: 45%; background-color: #2980b9;border-radius: 1rem; box-shadow: 0.3rem 0.3rem 0rem #236ea0;}
    footer .orga{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    footer .link{
        max-width: 5rem;
    }
    footer p{
        font-size: 1.4rem;
        text-align: center;
    }
    /* menu of */
    nav{
        position: relative;
        z-index: -1;
        height: 0;
        margin-bottom: 0rem;
        transition: all 500ms ease-in-out;
        
    }
    /* menu on */
    .open-menu{
        z-index: 1;
        height: 1rem;
        
    }
    .rotate{
        transform: rotate(45deg);
    }
    /* nav*/
    nav ul{
        width: auto;
        display: block;
    }
    nav ul li{
        display: block;
        width: auto;
        padding: 1rem;
        font-size: 1.8rem;
        text-align: center;
    }
    header h1 .material-icons{
        display: inline-block;
        padding-right: 2rem;
    }
    .caté{
        grid-template-columns: repeat(1, 1fr);
    }

    @media screen and (orientation: landscape){
        .aside a img{
            max-width: 5%;
        }
        
    }
}