/*reset*/

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    font-weight: 300;
    background-color: #333;
    text-transform: capitalize;
}
h1,h2,h3,p,figure,ul,ol,section{
    margin: 0;
    padding: 0;
    list-style: none; 
}
a,button{
    text-decoration: none;
    padding: 0;
    border: 0;
}
*{
    box-sizing: border-box;
}
:root{
    --color-defaut:#222;
    --color-primary:#E8F3E8;
    --color-secondary: #274664;
    --color-tertiaire:#2c3e50;
    --color-defaut:#975102;
    --color-header:#0A3409;

}
/* scroll bars */
*{
    /* For FF and non-webkit browsers */
    scrollbar-width: thin;
    scrollbar-color: #222 #333;
}
*::-webkit-scrollbar {
    width: .2rem;
}
*::-webkit-scrollbar-thumb {
    background-color: #222;
    outline: .1rem solid #333;
}

/*theme*/
header{
    margin: 0 auto;
    line-height: 5rem;
}
header h1{
    background-color: var(--color-tertiaire);
    text-align: center;
    border-bottom: solid 0.5rem #202d3a;
    padding: 1rem;
    color: #fff;
    text-shadow: 0.5rem 0.5rem 0 #202d3a;
    transition: all 1.5s ease-in-out;
}
header h1:hover{
    letter-spacing: 0.4rem;
    text-shadow: 0.3rem 0.3rem 0 #202d3a, 0.5rem 0.5rem 0 #18212b;   
}
header img{
    max-width: 4rem;
    vertical-align: middle;
    margin: auto 1rem;
}
header h1 .material-icons{
    display: none;
}
/*navigation*/
nav ul{
    padding-top: 1rem;
    max-width: 110rem;
    margin: 0 auto 1.5rem;
    display: flex;
    font-size: 0;
    justify-content: space-between;
}
nav ul li{
    line-height: 3.5rem;
    font-size: 1.6rem;
    padding: 0 2rem;
    text-align: center;
    width: calc(100% /6);
}
nav ul li a{
    display: block;
    border-radius: 0.6rem;
    width: 100%;
    color: #fff;
    transition: all .5s ease-in-out;
    
}

nav ul li a:hover{
    background-color: var(--color-tertiaire);
    box-shadow: 0.2rem 0.2rem .2rem #202d3a;
    transform: scale(1.1);
}
.History{
    transition: all 400ms ease-in-out ;
}
.History:target{
    background-color: #294868;
}




.aside{
    background: url(https://i.pinimg.com/originals/b8/40/32/b84032568fad367059a28d149ccbeed5.png)no-repeat scroll center center / cover;
    min-height: 81vh;
    max-width: 120rem;
    margin: 0 auto 2rem;
    box-shadow: 0.2rem 0.2rem 2rem #111;
    display: grid;
    border-radius: 0.5rem;
    align-items: center;

}
.aside h2{
    text-align: center;
    font-size: 6rem;
    color: #222;
    text-shadow: 0.3rem 0.3rem 0 rgba(60, 86, 143, 0.685);
}
.aside a img{
    max-width: 4.5%;
    display: block;
    margin: 0 auto;
    position: static;
    cursor: pointer;
    border-radius: 10rem;
    background-color: #fff;
    transform: translateY(6.5rem);
    border: solid 1rem #fff;
    transition: 1s ease-in-out;
}
.aside a img:hover{
    transform: translateY(8rem) scale(1.1);
}
main{
    max-width: 120rem;
    margin: 0 auto;
    padding: 0rem 0 2rem 0rem;
}
main section{
    max-width: 120rem;
    background-color: #222;
    box-shadow: 0.2rem 0.2rem 2rem #111;
    margin: 3rem auto;
    border-radius: 0.5rem;
}
main section h3{
    font-size: 1.6rem;
    padding: 1rem;
    color: #fff;
}
main section figure figcaption{
    text-align: center;
    display: none;
}
main section h2{
    background-color: #2c3e50;
    padding: 1rem;
    color: #fff;
    margin: 0rem auto;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    border-bottom: solid 0.35rem #202d3a;
}

main section p{
    font-size: 1.6rem;
    padding: 2rem;
    color: #fff;
}

main section ul li{
    padding: 2rem;
    color: #fff;
}
/*Expérience*/
main .experience figure{
    display: grid;
    padding: 2rem;
    width: auto;
    grid-template-columns: repeat(3,1fr);
}
main .experience figure ul, main .loisir figure ul{
    border-radius: 0.5rem;
    margin: 2rem;
    border: solid .2rem rgba(202, 202, 202, 0.726);
    background-color: rgb(54, 54, 54);
    box-shadow: 0.5rem 0.5rem 0.2rem rgba(49, 49, 49, 0.726);
    transition: all 0.5s ease-in-out;
}
main .experience figure ul:hover{
    transform: translateY(-1rem) scale(1.1);
    box-shadow: 0.5rem 0.5rem 0.2rem rgba(73, 73, 73, 0.726);
}
main .experience ul li h2, main .loisir ul li h2{
    background-color: rgb(54, 54, 54);
    font-size: 2.3rem;
    text-shadow: 0.25rem 0.25rem 0 #4a6785,.5rem .5rem 0 #3e566e;
    border-bottom: none;
    border-radius: 0.5rem;
    text-align: center;
}
main .experience ul li, main .loisir ul li{
    text-align: center;
}
main .experience ul li img{
    display: block;
    margin: 1rem auto;
    width: 25%;
}
main .loisir ul li img{
    width: 20%;
}
/*loisir*/
main .loisir figure{
    display: grid;
    padding: 2rem;
    width: auto;
    grid-template-columns: repeat(2,1fr);
}
main .loisir figure ul:hover{
    transform: translateY(-1rem) scale(1.1);
    box-shadow: 0.5rem 0.5rem 0.2rem rgba(73, 73, 73, 0.726);
}

/*stat*/
main section .container li{
    margin: 1rem;
    padding: 0.8rem;
    color: rgb(0, 0, 0);
    align-items: center;
}
main section h3{
    font-size: 3rem;
    padding-left: 2rem;
    padding: 1rem 2rem;
    text-shadow: 0.25rem 0.25rem 0 #34495e,.5rem .5rem 0 #2c3e50;
}
.container{
    display: flex;
    padding: 1rem 2rem;
    flex-direction: column;
}

.container li img{
    max-width: 2.2rem;
    transform: translateY(.4rem);
    justify-content: center;
}
.container li img{
    font-weight: bolder;
}

/*test grid display block
section .grid-logo{
    width: auto;
    display: grid;
    background-color: #547697;
    padding: 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
    grid-auto-flow: dense;
}
section .grid-logo li img{
    max-width: 20rem;
}
*/
.container li{
    font-weight: 500;
}
.item { max-width: 90%; background-color: #e7422f ;border-radius: 1rem; box-shadow: 0.3rem 0.3rem 0rem #c0392b;}
.item-1 { max-width: 80%; background-color: #3498db; border-radius: 1rem; box-shadow: 0.3rem 0.3rem 0rem #2980b9;}
.item-2 { max-width: 50%; background-color: #f1c40f;border-radius: 1rem; box-shadow: 0.3rem 0.3rem 0rem #dbb20d;}
.item-3 { max-width: 40%; background-color: #FB8604;border-radius: 1rem; box-shadow: 0.3rem 0.3rem 0rem #db7500;}
.item-4 { max-width: 40%; background-color: #2980b9;border-radius: 1rem; box-shadow: 0.3rem 0.3rem 0rem #236ea0;}
.item-5 { max-width: 70%; background-color: #3498db;border-radius: 1rem; box-shadow: 0.3rem 0.3rem 0rem #2980b9;}
.item-6 { max-width: 50%; background-color: #FB8604;border-radius: 1rem; box-shadow: 0.3rem 0.3rem 0rem #db7500;}
.item-7 { max-width: 40%; background-color: #2980b9;border-radius: 1rem; box-shadow: 0.3rem 0.3rem 0rem #236ea0;}

/*Footer */
footer ul{
    padding: 1rem;
}
footer ul li{
    margin: 0 auto;
}
footer  .ico{
    display: flex;
}
footer{
    color: #fff;
    background-color: #222;
    padding: 2rem;
    border-top: solid 0.5rem rgba(17, 17, 17, 0.37);
}
footer h2{
    text-align: center;
}
footer p{
    padding: 1rem;
    font-size: 1.6rem;
    text-align: start;
}
footer section{
    margin: 0 auto;
}
footer .link{
    margin: auto 1rem;
    max-width: 6rem;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
footer .contact{
    max-width: 30rem;
    margin: 0 auto;
}
footer .contact li a{
    color: #fff;
}
footer .contact img{
    max-width: 4rem;
    margin: auto 1rem;
    filter: invert(100%);
    transform: translateY(1rem);
}
footer .linkg{
    margin: auto 1rem;
    filter: invert(100%);
    max-width: 6rem;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
footer .orga{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}



@media screen and (max-width: 60rem) {
    main section #picture{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }
    .aside a img{
        max-width: 10%;
        margin: 2rem auto;
    }
    header{
        margin-bottom: 1rem;
    }
    main{
        padding-top: 1rem;
    }
    .container li{
        font-size: 1.4rem;
    }
    main .experience figure, main .loisir figure{
        display: grid;
        padding: 0;
        grid-template-columns: repeat(1,1fr);
    }
    main .experience figure ul:hover, main .loisir figure ul:hover{
        transform: none;
        box-shadow: none;
    }
    footer .orga{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    /* menu of */
    nav{
        position: relative;
        z-index: -1;
        height: 0;
        margin-bottom: 0rem;
        transition: all 500ms ease-in-out;
        
    }
    /* menu on */
    .open-menu{
        z-index: 1;
        height: 40rem;
    }
    .rotate{
        transform: rotate(45deg);
    }
    /* nav*/
    nav ul{
        width: auto;
        display: block;
    }
    nav ul li{
        display: block;
        width: auto;
        padding: 1rem;
        font-size: 1.8rem;
        text-align: center;
    }
    header h1 .material-icons{
        display: inline-block;
        padding-right: 2rem;
    }
    .caté{
        grid-template-columns: repeat(1, 1fr);
    }

    @media screen and (orientation: landscape){
        .aside a img{
            max-width: 5%;
        }
        
    }
}