/*reset*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 300;
    background-color: #333;
    text-transform: capitalize;
}
h1,h2,h3,p,figure,ul,ol,section{
    margin: 0;
    padding: 0;
    list-style: none; 
}
a,button{
    text-decoration: none;
    padding: 0;
    border: 0;
}
*{
    box-sizing: border-box;
}
:root{
    --color-defaut:#222;
    --color-primary:#E8F3E8;
    --color-secondary: #2ecc71;
    --color-tertiaire:#27ae60;
    --color-defaut:#305A30;
    --color-header:#0A3409;

}
/*theme*/
header{
    background-color: var(--color-tertiaire);
    margin-bottom: 2rem;
    line-height: 6.5rem;
    border-bottom: solid 0.5rem #478346;
}
header h1{
    text-align: center;
    padding: 1rem;
}
header img{
    max-width: 10rem;
    vertical-align: middle;
    padding-right: 3rem;
}
main{
    max-width: 100rem;
    margin: 0 auto;
    padding: 2rem 0 2rem 0rem;
}
main section{
    background-color: #222;
    box-shadow: 0.2rem 0.2rem 2rem #111;
    margin: 3rem auto;
    border-radius: 0.5rem;
}
.aside{
    background: url(https://i.pinimg.com/originals/d1/2a/51/d12a516a90067f6c0a16f7572333095e.jpg)no-repeat scroll center center / cover;
    min-height: 50vh;
    max-width: 100rem;
    margin: 0 auto 2rem;
    box-shadow: 0 0 1.0rem #333 ;
    display: grid;
    border-radius: 0.5rem;
    align-items: center;

}
.aside h2{
    text-align: center;
    font-size: 7rem;
    color: #fff;
    text-shadow: 0.25rem 0.25rem 0 #92C591,.5rem .5rem 0 #559E54, 0.75rem 0.75rem 0 #305A30, 1rem 1rem 0 #0A3409;
}
main section h3{
    font-size: 1.6rem;
    padding: 1rem;
    color: #fff;
}
main section h2{
    background-color: var(--color-tertiaire);
    padding: 1rem;
    margin: 0rem auto;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    border-bottom: solid 0.35rem #458044;
}
main section p{
    font-size: 1.6rem;
    padding: 2rem;
    color: #fff;
}

main section ul li{
    padding: 2rem;
    color: #fff;
}

/*stat*/
main section .container li{
    margin: 1rem 2rem 1rem 2rem;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 0.2rem 0.3rem 0.3rem #111;
    color: rgb(0, 0, 0);
    align-items: center;
}
main section h3{
    font-size: 3rem;
    padding-left: 2rem;
    padding-top: 1rem;
    text-shadow: 0.25rem 0.25rem 0 #34495e,.5rem .5rem 0 #2c3e50;
}
.container{
    display: flex;
    padding: 2rem;
    flex-direction: column;
}

.item { max-width: 90%; background-color: #e74c3c ;border-radius: 1rem;}
.item-1 { max-width: 80%; background-color: #3498db; border-radius: 1rem;}
.item-2 { max-width: 50%; background-color: #f1c40f;border-radius: 1rem;}
.item-3 { max-width: 40%; background-color: #e67e22;border-radius: 1rem;}
.item-4 { max-width: 40%; background-color: #2980b9;border-radius: 1rem;}
.item-5 { max-width: 90%; background-color: #3498db;border-radius: 1rem;}
.item-6 { max-width: 50%; background-color: #e67e22;border-radius: 1rem;}

footer address ul{
    padding: 2rem;
}
footer address{
    text-align: center;
    color: #fff;
}
footer{
    background-color: #222;
    padding: 3rem;
}
footer .link{
    height: 4rem;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
@media screen and (max-width: 60rem) {
    main section #picture{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }
}