<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AP_BTS</title>
    <link rel="stylesheet" href="./css/PPE.css">
    <meta name="description" content="Portfolio">
    <link rel="stylesheet" href="./css/PPE.css">
    <link rel="apple-touch-icon" sizes="180x180" href="./asset/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="./asset/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="./asset/favicon-16x16.png" />
    <link rel="manifest" href="./asset/site.webmanifest" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>

<body>
    <header>
        <h1><a href="./index.html#travaux"><img
                    src="./asset/4124824-cog-web-options-web-preferences-web-setting-webpage_113885.png"
                    alt="icone Web"></a>Travaux Projet AP WEB</h1>
    </header>
    <main>

        <a href="#"><img src="./asset/arrow.png" class="up" alt="up" /></a>
    </main>
    <footer id="Contact">
        <div role="region" class="contact">

            <ul class="tel">
                <li>
                    <a href="tel:0783544539">
                        <img src="./asset/telephone_icon-icons.com_65394.png" alt="tel"> 07 83 54 45 39</a>
                </li>
            </ul>
            <ul class="ico">
                <li>
                    <address class="link">
                        <a href="https://github.com/PhilDaiguille" target="blank">
                            <img src="./asset/icons8-github.svg" alt="github">
                        </a>
                        <a href="https://twitter.com/Phildattente" target="blank">
                            <img src="./asset/icons8-twitter.svg" />
                        </a>
                        <a href="https://www.linkedin.com/in/philippe-delente-7117a6203/" target="blank">
                            <img src="./asset/icons8-linkedin.svg" alt="linkedin">
                        </a>
                        <a href="https://www.instagram.com/phil_d_aiguille/?hl=fr" target="blank">
                            <img src="./asset/icons8-instagram.svg" alt="instagram">
                        </a>
                    </address>
                </li>
            </ul>

            <ul class="mail">
                <li>
                    <a href="mailto:philippe.delente@gmail.com"><img
                            src="./asset/1904660-email-envelope-letter-mail-message-post-send_122510.png"
                            alt="mail">Philippe.delente@gmail.com</a>
                </li>
            </ul>
        </div>

        <hr>
        <p>Copyright &copy; <span></span> - Philippe DELENTE</p>
    </footer>
</body>

</html>